.advantages {
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 112px 25px 73px;

  @media (max-width: $tablet-width) {
    padding: 54px 25px 26px;
  }

  @media (max-width: $mobile-width) {
    padding: 37px 16px 36px 15px;
  }
}

.advantages__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.advantages__item {
  width: calc(50% - 15px);
  min-height: 299px;
  box-sizing: border-box;

  border: 1px solid $gray;
  border-left: 3px solid $blue;

  margin-right: 30px;
  margin-bottom: 30px;
  padding: 36px 42px 10px 44px;

  background-color: $white;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue;
    color: $white;

    & h3 {
      color: $white;
    }

    & .advantages__icon {
      fill: $white;
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 306px;
    padding: 23px 20px 0 25px;

    &:nth-child(4n+3) {
      min-height: 232px;
    }

    &:nth-child(4n+4) {
      min-height: 232px;
    }

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 20px;
      min-height: 310px;
      padding: 24px 0 0 24px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.advantages__icon {
  fill: $blue;
}

.advantages__item h3 {
  font-family: $RobotoCondensed;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $blue;

  margin: 0;
  padding: 17px 0 13px;

  @media (max-width: $tablet-width) {
    padding: 4px 0 13px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 28px;
    padding: 7px 0;
  }
}

.advantages__item p {
  font-size: 16px;
  line-height: 21px;

  margin: 0;

  @media (max-width: $mobile-width) {
    padding-bottom: 28px;
    padding-top: 5px;
    padding-right: 5px;
  }
}
