.agreement {
  position: relative;
}

.agreement input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: -34px;
}

.agreement__label {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.agreement input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;

  font-size: 14px;
  line-height: 16px;

  cursor: pointer;
}

.agreement input + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: 2px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;

  border: 1px solid $white;
  cursor: pointer;
}

.agreement input:focus + label::before {
  filter: brightness(30%);
}

.agreement input:checked + .agreement__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/yes-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.agreement--popup input + label::before {
  left: -50px;
}
