.agreement__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.agreement__label {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.agreement__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;

  font-size: 14px;
  line-height: 16px;

  cursor: pointer;
}

.agreement__input + label::before {
  content: "";
  position: absolute;
  left: -50px;
  top: -2px;
  width: 16px;
  height: 16px;

  border: 1px solid $white;
  cursor: pointer;
}

.agreement__input:checked + .agreement__label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/yes-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
