.button {
  text-decoration: none;
  padding: 14px 0 14px;
  text-transform: uppercase;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
  box-sizing: border-box;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.button--white {
  color: $white;
  border-color: $white;
}