.fieldset {
  border: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fieldset input {
  width: calc(50% - 15px);
  margin-bottom: 40px;
  box-sizing: border-box;

  padding: 14px 10px 14px 16px;

  @media (max-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 33px;
  }
}

.fieldset input:hover,
.fieldset input:focus,
.fieldset textarea:hover,
.fieldset textarea:focus {
  box-shadow: 0 0 0 1px #009bde;
}

.fieldset textarea,
.fieldset input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  line-height: 22px;
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.fieldset textarea {
  width: 100%;
  margin-bottom: 43px;
  padding: 11px 16px;
  resize: none;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    height: 82px;
    margin-bottom: 30px;
  }
}
