.footer__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;


  max-width: 1466px;
  padding: 58px 27px 58px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 13px 0 0 0;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.footer__item {
  @media (max-width: $tablet-width) {
    &:first-child {
      width: 100%;
      border-bottom: 1px solid rgba(98, 105, 98, 0.2);
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 24px;

      @media (max-width: $mobile-width) {
        padding: 38px 0 50px;
      }
    }
  }
}

.footer__item--site-nav {
  padding-right: 30px;

  @media (max-width: $tablet-width) {
    padding-left: 27px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    width: 100%;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.footer__item--office {
  margin-right: 6px;

  @media (max-width: $tablet-width) {
    padding-right: 37px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
    width: 100%;
    margin-right: 0;
  }
}

.footer__item-wrapper {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.footer__info-wrapper {
  border-top: 1px solid rgba(98, 105, 98, 0.2);

  @media (max-width: $tablet-width) {
    margin-top: 3px;
  }
}

.footer__general-information {
  padding: 15px 27px;

  max-width: 1466px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 21px 27px 24px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding: 28px 0 5px;
  }
}

.footer__item-wrapper p {
  display: none;

  @media (max-width: $tablet-width) {
    display: inline;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-left: 12px;
    padding-top: 7px;
    text-transform: uppercase;
  }

  @media (max-width: $mobile-width) {
    padding: 22px 0 31px;
  }
}

.footer__social {
  padding-top: 50px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.footer__title {
  margin: 0;
  padding-bottom: 24px;
  padding-top: 8px;

  font-family: $RobotoCondensed;
  font-weight: 400;
  color: $text-color-dark;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (max-width: $mobile-width) {
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    padding: 28px 0 28px;
  }
}

.footer__phones-list {
  @include list-reset;
}

.footer__content {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: $text-color-dark;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    padding-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-bottom: 0;
  }
}

.footer__content p {
  margin: 0;
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__developer {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 69px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    text-align: center;
  }
}

.footer__copyright p {
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color-dark;
  opacity: 0.5;

  font-size: 13px;
  letter-spacing: 0.04em;

  margin: 0 73px 0 0;
}

@media (max-width: $mobile-width) {
  .footer__title::after {
    content: "";
    position: absolute;
    right: 0;

    width: 16px;
    height: 16px;

    background-image:
      linear-gradient($light-gray, $light-gray),
      linear-gradient($light-gray, $light-gray);
    background-color: $white;
    background-position: center;
    background-size: 100% 1px, 1px 100%;
    background-repeat: no-repeat;
  }

  .footer__title--active::after {
    content: "";
    width: 16px;
    height: 1px;
    background-color: $light-gray;
    top: 50%;
  }

  .footer__title--nojs {
    & + .footer__content {
      max-height: 100%;
    }
  }

  .footer__title--active {
    & + .footer__content {
      padding-bottom: 23px;
      padding-top: 4px;
      padding-right: 10px;
    }
  }
}

.footer__link {
  text-decoration: none;
  color: $text-color-dark;

  &:hover {
    opacity: 0.5;
  }
}

.footer__developer .footer__link {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.04em;

  @media (max-width: $mobile-width) {
    padding-bottom: 20px;
  }

  &:hover {
    opacity: 0.3;
  }
}
