.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1461px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 33px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: $dark-blue;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 15px;
  }
}

// .header::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: -253px;
//   z-index: -10;
//   background-image: url("../img/header-bg-desktop@1x.jpg");
//   max-width: 1920px;
//   height: 950px;
//   background-repeat: no-repeat;
// }