.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  width: 202px;
}

.logo__text {
  font-family: $RobotoCondensed;
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 25px;
  line-height: 29.3px;
  display: flex;
  flex-direction: column;

  padding-bottom: 8px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo__text span:last-of-type {
  font-family: $Roboto;
  color: $dark-white;
  font-size: 12px;
  line-height: 14px;
}

.logo__img img {
  margin-right: 16px;
  margin-top: 8px;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}
