.main__inner {
  background-image: url("../img/triangle-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 100% 20%;

  margin-bottom: 110px;

  &.webp {
    background-image: url("../img/triangle-bg-desktop.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/triangle.svg");
    background-position: 100% 100px;
    margin-bottom: 74px;
  }

  @media (max-width: $mobile-width) {
    background-position: 51% 76%;
    margin-bottom: 64px;
  }
}

.main--popup {
  background-color: $blue;
}
