.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;

  background-color: rgba(0, 0, 0, 0.5);
  color: $white;
}

.popup__form {
  & .form__inner {
    flex-direction: column;
    align-items: flex-start;

    & .form__button {
      width: 100%;
      margin-bottom: 34px;

      @media (max-width: $mobile-width) {
        min-width: 100%;
        margin-bottom: 0;
      }
    }

    & .form__agreement {
      margin-left: 50px;
      padding-right: 25px;
      text-align: left;
    }
  }
}

.popup--opened {
  display: block;
}

.popup__inner {
  position: fixed;
  width: 490px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;

  padding: 33px 39px 36px;

  text-align: center;

  z-index: 50;
  background-color: $blue;

  @media (max-width: $mobile-width) {
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: auto;

    padding: 20px 15px;
  }
}

.popup__toggle {
  position: absolute;
  top: 20px;
  right: 20px;

  display: block;
  width: 16px;
  height: 16px;
  background-color: $blue;
  cursor: pointer;
  border: none;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    right: 0;
    width: 16px;
    height: 1px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.popup__title {
  margin: 0;
  font-family: $RobotoCondensed;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  text-align: left;
}

.popup__text {
  line-height: 22px;  
  text-align: left;

  margin: 0;
  padding: 20px 0;
}
