.promo-block {
  position: relative;
}

.promo-block__inner {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 89px;

  max-width: 1510px;
  margin: 0 auto;

  color: $white;

  position: relative;

  @media (max-width: $tablet-width) {
    padding-left: 88px;
    padding-bottom: 162px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 71px;
  }
}

.promo-block__inner::before {
  content: "";
  position: absolute;
  top: 165px;
  right: 0;
  z-index: -10;
  background-image: url("../img/schema-desktop@1x.png");

  width: 705px;
  height: 515px;
  background-size: cover;
  background-repeat: no-repeat;

  &.webp {
    background-image: url("../img/schema-desktop@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/schema-desktop@2x.png");

    &.webp {
      background-image: url("../img/schema-desktop@2x.webp");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/schema-tablet@2x.png");

      &.webp {
        background-image: url("../img/schema-tablet@2x.webp");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/schema-mobile@2x.png");

      &.webp {
        background-image: url("../img/schema-mobile@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 330px;
    background-image: url("../img/schema-tablet@1x.png");
    background-size: auto;
    top: -77px;

    &.webp {
      background-image: url("../img/schema-tablet@1x.webp");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/schema-mobile@1x.png");
    background-size: contain;
    width: 294px;
    top: -59px;

    &.webp {
      background-image: url("../img/schema-mobile@1x.webp");
    }
  }
}

.promo-block::before {
  content: "";
  position: absolute;
  top: -89px;
  z-index: -10;
  background-image: url("../img/header-bg-desktop@1x.jpg");
  background-size: cover;
  width: 100%;
  height: 878px;
  background-repeat: no-repeat;
  background-color: $dark-blue;

  &.webp {
    background-image: url("../img/header-bg-desktop@1x.webp");
  }

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/header-bg-desktop@2x.jpg");

    &.webp {
      background-image: url("../img/header-bg-desktop@2x.webp");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/header-bg-tablet@2x.jpg");

      &.webp {
        background-image: url("../img/header-bg-tablet@2x.webp");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/header-bg-mobile@2x.jpg");

      &.webp {
        background-image: url("../img/header-bg-mobile@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/header-bg-tablet@1x.jpg");
    height: 686px;
    top: -77px;

    &.webp {
      background-image: url("../img/header-bg-tablet@1x.webp");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/header-bg-mobile@1x.jpg");
    height: 646px;
    top: -59px;

    &.webp {
      background-image: url("../img/header-bg-mobile@1x.webp");
    }
  }
}

.promo-block__inner h1 {
  font-family: $RobotoCondensed;
  font-size: 80px;
  line-height: 94px;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  margin: 0;
  padding-bottom: 25px;
  padding-top: 227px;
  padding-left: 45px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 350px;
    padding-top: 113px;
    padding-left: 0;
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 227px;
    padding-bottom: 25px;
    font-size: 40px;
    line-height: 47px;
  }
}

.promo-block__inner p {
  position: relative;
  padding-left: 141px;
  padding-bottom: 45px;

  font-size: 22px;
  line-height: 34px;

  margin: 0;
  width: 629px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    padding-left: 50px;
    padding-bottom: 55px;
    max-width: 404px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 25px;
    width: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 49px;
    width: 66px;
    height: 2px;
    background-color: $white;

    @media (max-width: $tablet-width) {
      width: 33px;
      top: 15px;
      left: 3px;
    }
  }
}

.promo-block__button {
  display: block;
  width: 407px;
  border: none;
  color: $white;
  background-color: $blue;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

  margin-left: 142px;
  padding: 18px 0;

  @media (max-width: $tablet-width) {
    margin-left: 51px;
    width: 379px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0 auto;
  }
}

.promo-block__scroll {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  padding-bottom: 93px;
  margin-left: 47px;
  text-decoration: none;
  color: $white;
  opacity: 0.5;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.promo-block__button-text--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
  }
}

.promo-block__button-text--desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
