.questions {
  background-image: url("../img/form-bg.svg");
  background-repeat: no-repeat;
  background-color: $blue;
  background-position: right;
  background-size: auto;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.questions__inner {
  max-width: 1230px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 96px 15px 113px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: $white;

  @media (max-width: $tablet-width) {
    padding: 81px 90px 103px;
  }

  @media (max-width: $mobile-width) {
    padding: 33px 15px 41px;
  }
}

.questions__image-wrapper {
  max-width: 503px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__img {
  margin-top: 65px;
  width: 100%;
  height: auto;
}

.questions__content {
  margin-left: 109px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}

.questions__content h2 {
  font-family: $RobotoCondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;

    padding-right: 40px;
  }
}

.questions__content p {
  line-height: 22px;
  margin: 0;
  padding-bottom: 51px;
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    padding-top: 15px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 25px;
    padding-top: 11px;
  }
}

.questions__fieldset {
  margin-right: 15px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}
