.questions {
  background-image: url("../img/form-bg.svg");
  background-repeat: no-repeat;
  background-color: $blue;
  background-position: right;
  background-size: auto;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.questions__inner {
  max-width: 1230px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 96px 15px 113px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  color: $white;

  @media (max-width: $tablet-width) {
    padding: 81px 90px 103px;
  }

  @media (max-width: $mobile-width) {
    padding: 33px 15px 41px;
  }
}

.questions__image {
  max-width: 503px;
  width: 100%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__image img {
  margin-top: 65px;
  width: 100%;
  height: auto;
}

.questions__content {
  margin-left: 109px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}
