.site-nav {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.site-nav__column {
  display: flex;
  flex-direction: column;
  margin-right: 75px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  @media (max-width: 1100px) {
    margin-right: 50px;
  }
}

.site-nav__link {
  text-decoration: none;
  color: $text-color-dark;

  &:hover {
    opacity: 0.5;
  }
}
