.social__list {
  @include list-reset;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    filter: brightness(50%);
  }
}

.social__icon {
  padding-top: 3px;
  padding-left: 3px;
}
