$white: #ffffff;
$blue: #00b2ff;
$dark-blue: #1b2931;
$bg-blue:#1b2d37;
$text-color: #666666;
$text-color-dark: #1b2d37;
$gray: #ebebeb;
$light-gray: #c4c4c4;
$dark-white: #788891;
$logo-color: #203c4c;
