body {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  color: $text-color;
  font-weight: 400;
}

$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
