$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$PTMono: "PTMono", "Arial", sans-serif;
$RobotoCondensed: "RobotoCondensed", "Arial", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;
